:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #292929;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

a {
	font-weight: 500;
	color: #efefef;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden !important;
}

#root {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.active {
	color: #747bff !important;
}

.svg {
	fill: currentColor;
}

.svg:hover {
	fill: #747bff;
	filter: blur(0.5px);
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#amount {
	background-color: #2d2d2d;
	border: #626262 1px solid;
	color: #A9A9A9;
}

#amount::placeholder {
	color: rgba(239,239,239,0.5);
}

#transfer {
}
